{{- define "main" }}

{{- if (and .Site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>
{{- end }}


{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end}}


{{- partial "home_info.html" . }}
{{- partial "roadmap.html" }}


{{ $paginator := .Paginate $pages }}
{{ $term := .Data.Term}}
{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}
{{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0)) }}
{{- if .Site.Params.homeInfoParams | or .Site.Params.disableSpecial1stPost}}

{{- else}}
{{- $class = "first-entry" }}
{{- end }}
{{- else if $term }}
{{- $class = "post-entry tag-entry" }}
{{- end }}

{{- end }}
{{end}}{{/* end profileMode */}}
{{- end }}{{- /* end main */ -}}
