a:hover {
    text-decoration: none;
    color: inherit;
} /* To avoid the styling of bootstrap */


.github-link {
    width: 20px;
    height: 20px
}

.mysvg text {
    font-family: Arial;
}

.mysvg {
    text-align: center;
}


.nojs .img .lazyload {
    display: none;
  }


.img svg,
.img img {
margin: 0;
width: 100%;
height: auto;
}

.img {
position: relative
}

.img img {
position: absolute;
top:0;
left:0;
}

.caption {
    text-align: center;
    font-style: italic;
}
