a:hover {
    text-decoration: none;
    color: inherit;
} /* To avoid the styling of bootstrap */


.github-link {
    width: 20px;
    height: 20px
}

picture {
    display: flex;
    justify-content: center;
}


.nojs .img .lazyload {
    display: none;
  }


.img svg,
.img img {
margin: 0;
width: 100%;
height: auto;
}

.img {
position: relative
}

.img img {
position: absolute;
top:0;
left:0;
}

.caption {
    text-align: center;
    font-style: italic;
}


a img {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.88);
}
a img:hover {
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.88);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.88);

    transform: scale(1.01);
    transition: transform 430ms ease-out;
}
