<div class="row ankiapp" id="ankiapp-{{ .Get "quizid" }}">
    <div class="col-md-2 offset-md-1 card-button previous-button" id="previous-button-{{ .Get "quizid" }}" style="visibility: hidden">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14 quiz-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg>
    </div>
    <div class="col-md-6 anki" id="anki-{{ .Get "quizid" }}">
        <div id="card-{{ .Get "quizid" }}">
            <div class="card-front" id="card-front-{{ .Get "quizid" }}"></div>
            <p class="card-helper" id="card-helper-{{ .Get "quizid" }}">Click to reveal answer</p>
            <div class="card-global-back" id="card-global-back-{{ .Get "quizid" }}">
                <div class="card-back" id="card-back-{{ .Get "quizid" }}"></div>
                <div class="card-details1" id="card-details1-{{ .Get "quizid" }}"></div>
                <div class="card-details2" id="card-details2-{{ .Get "quizid" }}"></div>
                <div class="card-image" id="card-image-{{ .Get "quizid" }}"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2 offset-md-1 card-button after-button" id="after-button-{{ .Get "quizid" }}" style="visibility: hidden">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14 quiz-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg>
    </div>
</div>

<script>
    $(document).ready(function () {
        launchQuiz(
            "Introduction to Deep Learning",
            eval({{ .Get "cards" }}),
            false,
            {{ .Get "quizid" }},
            false
        );
    });
</script>
